<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subject</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
</head>
<body>
 {% include "Nav.html" %}

    <div class = "container">
        <div class = "cher" >
            <h2> Subject</h2>
           <table class="table table-hover">

    <thead>
    <tr>
        <th scope="col">Предмет</th>
    </tr>
    </thead>
    <tbody>
    {% for subject in subjects %}
    <tr class="table-light">
        <td>{{ subject.subjects }}</td>
    {% endfor %}
    </tr>
    </tbody>
</table>
        </div>
    </div>
</body>
</html>