<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <title>Добавить</title>
    <style>
       form {
          margin: 20px;
       }
       .err {
        margin: 20px;
       }
       .form-group{
           max-width: 500px;
       }
       </style>
</head>
<body>
    <div class="err" >
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</div>
    <form action="" method="post" >
         <p>
            <div class="form-group">
                <label for="day">День</label>
                {% for group in groups %}
                <option>{{group.groups}}</option>
                {% endfor %}
              </div>
        </p>
        <p>
            <div class="form-group">
                <label for="group">Группа</label>
                {% for group in groups %}
                <option>{{group.groups}}</option>
                {% endfor %}
              </div>
        </p>
        <p>
        <div class="form-group">
            <label for="interval">Время</label>
                {% for interval in intervals %}
                 <option>{{ interval.interval }}</option>
                {% endfor %}
          </div>
    </p>
   <p>
        <div class="form-group">
            <label for="subject">Предмет</label>
                {% for subject in subjects %}
                {% endfor %}
            </select>
          </div>
    </p>
   <p>
        <div class="form-group">
            <label for="lecturer">Преподаватель</label>
                {% for lecturer in lecturers %}
                    <option>{{ lecturer.lecturer }} </option>
                {% endfor %}
          </div>
    </p>
    <p>
        <input type="submit" class="btn btn-primary">
    </p>
    </form>
</body>
</html>